{% extends "base.html" %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
    <div class="row align-items-center gx-4">
        <!-- product image -->
        <div class="col-md-6">
            {% if product.image %}
                <img src="{{ product.image.url }}"
                     alt="{{ product.name }}"
                     class="img-fluid w-100"
                     style="height: 700px;
                            object-fit: cover">
            {% else %}
                <div class="d-flex align-items-center justify-content-center"
                     style="height: 700px">
                    <span class="fs-4 text-muted">600 &times; 700</span>
                </div>
            {% endif %}
        </div>
        <!-- /product image -->
        <!-- product detail -->
        <div class="col-md-6">
            <h3 class="fw-bold mb-3">{{ product.name }}</h3>
            <div class="fs-5 mb-5">
                {% if product.old_price %}<span class="text-decoration-line-through">${{ product.old_price }}</span>{% endif %}
                <span>${{ product.price }}</span>
            </div>
            <p class="lead">{{ product.description }}</p>
            <form method="post" class="d-flex">
                {% csrf_token %}
                <input class="form-control text-center me-3"
                       type="number"
                       name="quantity"
                       value="1"
                       min="1"
                       style="max-width: 3rem">
                <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Add to cart
                </button>
            </form>
        </div>
        <!-- /product detail -->
    </div>
{% endblock %}
