{% extends "base.html" %}
{% block title %}Products{% endblock %}
{% block content %}
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if product.image %}
                        <img src="{{ product.image.url }}"
                             class="card-image-top"
                             alt="{{ product.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description|truncatewords:20 }}</p>
                        <p class="text-primary">${{ product.price }}</p>
                        <a href="" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-center">There are no products available yet.</p>
        {% endfor %}
    </div>
{% endblock %}
