{% extends "base.html" %}
{% block title %}Sign in to Website{% endblock %}
 {% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center">
    <form class="col-md-6 bg-light p-5 border rounded" method="post">
        <h2 class="mb-4 text-center">Sign in to Website</h2>
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success w-100" type="submit">Sign in</button>
        <p class="mt-4 text-center">
            Don't have an account? <a href="{% url 'signup' %}">Sign up <i class="bi bi-arrow-right"></i></a>
        </p>
    </form>
</div>
{% endblock %}